* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: #0d1117;
    color: #e6edf3;
}

#hero {
    position: relative;
    height: 100vh;
    text-align: center;
}

#video-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    opacity: 0.35;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.logo {
    font-size: 22px;
    font-weight: bold;
    color: #00e5ff;
}

.menu-toggle {
    position: absolute;
    top: 1rem;
    right: 1rem;
    background: transparent;
    border: none;
    color: #00e5ff;
    font-size: 32px;
    cursor: pointer;
    z-index: 20;
}

.nav-links {
    list-style: none;
    display: none;
    flex-direction: column;
    text-align: center;
    position: absolute;
    right: 20px;
    top: 60px;
    background: #111720;
    padding: 15px 25px;
    border-radius: 10px;
    border: 1px solid #00e5ff;
    width: max-content;
}


.nav-links.open {
    display: flex;
    width: auto;
}


.nav-links a {
    color: #00e5ff;
    text-decoration: none;
    font-size: 18px;
    padding: 8px 0;
}

.nav-links a:hover {
    color: #fff;
}

.content {
    margin-top: 120px;
}

.content h1 {
    font-size: 45px;
    font-weight: 700;
    color: #fff;
}

.content p {
    font-size: 20px;
    color: #00e5ff;
}

.profile {
    position: ;
    left: 40px;
    bottom: 50px;
    width: 360px;
    
}

section {
    width: 85%;
    margin: 60px auto;
    text-align: center;
}

h2 {
    font-size: 28px;
    color: #00e5ff;
    margin-bottom: 20px;
}

.intro, .desc {
    font-size: 18px;
}

.name {
    font-size: 26px;
    font-weight: bold;
    color: #fff;
}

.skills-list {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.skills-list p {
    background: #111720;
    padding: 12px 20px;
    border-radius: 6px;
    border: 1px solid #00e5ff;
    color: #00e5ff;
}

#projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 1.5rem;
    padding: 2rem;
}

.project-card {
    background: #111720;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #00e5ff;
    font-weight: bold;
    color: #00e5ff;
    transition: 0.3s;
}

.project-card:hover {
    transform: scale(1.04);
    box-shadow: 0 0 15px #00e5ff;
}

form {
    width: 340px;
    margin: auto;
    background: #111720;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #00e5ff;
}

label {
    text-align: left;
    display: block;
    margin: 8px 0;
}

input, textarea {
    width: 100%;
    padding: 10px;
    background: #0d1117;
    color: #fff;
    border: 1px solid #00e5ff;
    border-radius: 6px;
}

button {
    width: 100%;
    padding: 12px;
    margin-top: 15px;
    background: #00e5ff;
    color: #0d1117;
    border: none;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background: #00c2d6;
}

footer {
    background: #111720;
    padding: 15px;
    text-align: center;
    color: #00e5ff;
}

@media (max-width: 992px) {
    #projects-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .content h1 {
        font-size: 40px;
    }
}

@media (max-width: 768px) {

    .navbar {
        flex-direction: column;
        gap: 1rem;
        padding: 1.5rem 5%;
    }

    .nav-links {
        flex-direction: column;
        gap: 1rem;
    }

    .content h1 {
        font-size: 2.2rem;
    }
}

@media (max-width: 546px) {

    #projects-grid {
        grid-template-columns: 1fr;
    }

    .content h1 {
        font-size: 1.8rem;
    }

    .profile {
        width: 160px;
        left: 15px;
        bottom: 20px;
    }
}
